@import "variables";

*{
    font-size: 62.5%;
    box-sizing: inherit;
}
html{
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h4,p{
    font-family: 'Hina Mincho', serif;
}

a{  
    color: $white-color;
    text-decoration: none;
}

btn