*{
    font-size: 62.5%;
    box-sizing: inherit;
}
html{
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1,h2{
    font-family: 'Besley', serif;
}

a{
    text-decoration: none;
}
