@import "variables";
.container{ 
    position: relative;
    padding-top: 12rem;
    background: #000;
    height: 1000px;
    &_list{
        &-item{
            position: relative;
            &-title{
                font-size:16rem;
                font-weight: 1000;
                line-height:100%;
                color: rgba($orange-color,0.3);
            }
        
            &-content{
                color:$white-color;
                position: absolute;
                top: 50%;
                left:0;
                transform: translate(10rem,-50%);
                h3{
                    font-size: 2rem;
                    text-transform: uppercase;
                    word-spacing: 4px;
                    letter-spacing: 6px;
                    &::after{
                        content: " ";
                        position: absolute;
                        top: 50%;
                        left:0;
                        transform: translate(0,-50%);
                        width: 6rem;he
                    }
                }
            }
        }
    }
   
}