@import "variables";

.footer{
    text-align: center;
    padding: 2rem 0;
    &__brand{
        align-items: center;
        font-size: 4rem;
        color: $white-color;

    }
    &__title{

    }
    &__list{
        lin
    }

}