@import "variables";

.footer{
    padding: 2rem auto;
    color: $white-color;
   
    &__brand{
        display:flex;
        align-items:flex-start;
        flex-direction: column;
        color: $white-color;
        margin-left: 12rem;
        h2{
            font-size: 4rem;
            letter-spacing:4px;
            margin-bottom: 8rem ;
        }
        h3,p{
            font-size: 1.6rem;
        }
        h3{
            font-weight: 200;
        }
    }
    &__title{
        font-size: 3rem;
        color: $white-color;
        margin-bottom: 8rem ;

    }
    &__list{
        list-style: none;
        padding:0;
        &-item{
            padding:1rem 0;
            font-size: 2rem;
            &:first-child{
                margin-top: 0;
            }
            &:hover{
                a{
                    display:block;
                    color:$orange-color;
                    transform: scaleX(1.1) ;
                    transition: transform 0.3s ease;
                }
            }
        }
    }

}