@import "variables";

.header{
    position: relative;
    background: url(/src/public/img/bgheader.jpg) ;
    background-repeat: no-repeat;
    // z-index: -1;
    &_nav{
        display:flex;
        color: $white-color;

    }
}