@import "variables";

.header{
    position: relative;
    background: #000;
    background: url(/src/public/img/bgheader.jpg);
    background-repeat: no-repeat;
    
    z-index: -1;
    &-nav{
        display:flex;

    }
}