
/* low pc: min:1024px  max:1400px*/
@media (min-width: 1024px) and (max-width:1400px){

    /* container */
    .container_list-item-mostPlacesImg{
        grid-template-rows: repeat(8,7rem);
        grid-gap: 1rem 2rem;
    }
    .container_list-item-mostPlacesImg img{
        width:22rem;
        height:30rem;
    }
}

/* tablet and mobile: max-with: 1023px */

@media (max-with: 1023)
/* tablet : min-width: 740px */

/*  mobile: max-width: 739px */
