
/* low pc: min:1024px  max:1400px*/
@media (min-width: 1024px) and (max-width:1400px){

    /* container */
    .container_list-item-mostPlacesImg{
        grid-template-rows: repeat(8,8rem);
        grid-gap: 1rem 4rem;
    }
    .container_list-item-mostPlacesImg img{
        width:20rem;
        height:30rem;
    }
}